.Name {
  text-align: center;
  background-color: black;
  display: flex;
  flex-direction: column; /* 세로 방향으로 내용을 정렬 */
  align-items: center; /* 세로 축의 중앙에 항목을 배치 */
  min-height: 100vh; /* 최소 높이를 뷰포트 높이의 100%로 설정 */
  padding-left: 5px;
  padding-right: 5px;
  box-sizing: border-box;
}

.box {
  display: flex;
  align-items: center; /* 교차 축(세로축)을 따라 중앙 정렬 */
  justify-content: space-between; /* 주축(가로축)을 따라 요소 사이에 동일한 간격을 설정 */
  flex-direction: row; /* 가로 방향으로 요소들을 배치 */
  width: 100%; /* `.box`의 너비를 설정하여 내부 요소들에 간격을 줄 수 있음 */
  padding: 10px; /* 내부 요소와의 간격을 더 확보 */
  margin: 10px 10px; /* 상단과 하단에 마진을 추가하여 주변 요소와의 간격을 생성 */
  gap: 10px;
}

.center {
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  height: 55vh; /* 세로 전체 높이를 차지하도록 설정 */
}

.name input,
.birth input {
  width: 33vw; /* 입력 필드 너비를 설정 */
  max-width: 400px; /* 입력 필드의 최대 너비를 제한 */
  height: 40px; /* 입력 필드 높이 설정 */
  background-color: black;
  border: none;
  border-bottom: 1px solid white;
  outline: none;
  color: white;
  margin: 0 8px; /* 좌우 마진을 추가하여 요소 사이의 간격을 설정 */
}

.SymbolButton {
  display: flex;
  width: 17vw;
  min-width: 120px;
  height: 70px;
  background: linear-gradient(93deg, #705fde 14%, #3724b3 100%);
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  margin: 8px 10px;
  color: white;
  padding: 0 20px;
  margin-bottom: 30px;
}

.SymbolEndButton {
  width: auto;
  min-width: 120px;
  height: 70px;
  background-color: transparent;
  border-radius: 20px;
  border-color: transparent;
  margin: 8px 10px;
  color: white;
  padding: 0 20px;
}

.button:hover {
  background-color: white; /* 마우스 오버 시 버튼 배경색 변경 */
  color: white; /* 마우스 오버 시 버튼 글꼴 색상 변경 */
  cursor: pointer;
}

@media (min-width: 1260px) {
  .name input,
  .birth input {
    width: 45vw; /* 큰 화면에서 입력 필드의 너비를 더 넓게 설정 */
    max-width: 450px; /* 최대 너비를 더 크게 설정 */
    margin: 0 20px; /* 좌우 마진을 조정하여 간격 유지 */
  }

  .button {
    min-width: 150px; /* 버튼의 최소 너비를 더 크게 설정 */
    padding: 0 30px; /* 버튼 내부 패딩을 더 넓게 설정 */
    margin: 0 20px; /* 좌우 마진을 조정하여 간격 유지 */
  }

  .box {
    gap: 10px; /* 큰 화면에서 요소들 사이의 간격을 더 넓게 설정 */
  }
}

@media (max-width: 850px) {
  .box {
    flex-direction: column; /* 화면이 작을 때 세로 방향으로 요소들을 배치 */
    gap: 10px; /* 작은 화면에서의 간격 조정 */
  }

  .name input,
  .birth input {
    width: 30vw; /* 화면이 작을 때 입력 필드의 최대 너비를 %로 조정 */
    justify-content: space-between;
    margin: 0 5%; /* 좌우 마진을 %로 조정하여 간격 유지 */
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
