@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css');

.custom-size {
    width: 90%;
    height: 88%;
    transition: transform 0.3s, box-shadow 0.3s;
}

.text-container {
    margin-top: -10px;
}

.custom-size:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.custom-container {
    width: 90%;
    height: 90%;
}

.custom-container2 {
    width: 90%;
    height: 100%;
}

.scale-container {
    transform: scale(0.97);
    transform-origin: top;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.scale-container2 {
    transform: scaleX(1.08) scaleY(1.12);
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.no-scroll {
    overflow: hidden;
}

.section2 {
    margin-left: 220px;
    background-color: #333333;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

.interactive-elements img,
.interactive-elements .btn {
    cursor: pointer;
}

.interactive-elements .btn {
    transition: background-color 0.3s, transform 0.3s;
}

.interactive-elements .btn:hover {
    background-color: #ccc;
    transform: scale(1.05);
    height: 35px;
}

.button-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
    z-index: 3;
}

 .button2, .button3 {
    width: 230px;
    height: 60px;
    border-radius: 10px;
    font-family: Pretendard;
    font-size: 1.0rem;
    font-weight: 700;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    
    transition: background-color 0.3s, transform 0.3s;
}


.button2 {
    margin-right: 4px;
    background: var(--gray-95, #181818);
}

.button3 {
    margin-left: 3px;
    background: linear-gradient(94deg, #5539FF 12.76%, #001687 104.25%);
}

 .button2:hover, .button3:hover {
    background: var(--gray-40, #D6D6D6);
}

.button2:hover .button-text, .button3:hover .button-text {
    background-image: linear-gradient(90deg, #A839FF 0%, #5539FF 100%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.image-wrapper {
    margin: -5px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.selected::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 90%;
    height: 88%;
    margin-left: 18px;
    margin-top: 19px;
    background-color: rgba(217, 217, 217, 0.7); /* Adjusted opacity */
    border-radius: 8px;
    z-index: 1;
}

.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    font-size: 1.0rem;
    font-weight: bold;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
    pointer-events: none;
    z-index: 2;
}
