@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://cdn.jsdelivr.net/npm/pretendard/dist/web/static/pretendard.css');

body {
    overflow-x: hidden; /* 수평 스크롤 숨김 */
}

.flex {
    max-width: 100%; /* 최대 너비를 100%로 설정 */
    /* 내부 요소가 넘칠 경우 숨김 처리 */
  }

.img-container{
    margin-top: 10px;
}

.symbol-img {
    height: 120px !important; /* 높이 강제 적용 */
    width: 1600px; /* 너비를 비율에 맞게 자동 조정 */
  }



.gradient-text {
    font-size: 220px; /* 큰 화면에서의 폰트 크기 */
    font-weight: bold; /* 글자 굵기 */
    text-align: center; /* 텍스트 중앙 정렬 */
    background: linear-gradient(
      to bottom right, 
      #000000 11%, 
      #333333 16%, 
      #666666 24%, 
      #999999 71%, 
      #cccccc 93%
    ); /* 그라디언트 적용 */
    -webkit-background-clip: text; /* 크롬, 사파리 등 웹킷 기반 브라우저에서의 텍스트 클리핑 */
    background-clip: text; /* 텍스트 클리핑 */
    -webkit-text-fill-color: transparent; /* 웹킷 기반 브라우저에서의 텍스트 색상 투명 처리 */
    color: transparent; /* 텍스트 색상 투명 처리 */
}
  
  @media (max-width: 768px) { /* 작은 화면에서의 스타일 */
    .gradient-text {
      font-size: 2xl; /* 작은 화면에서의 폰트 크기 조정 */
    }
  }

  .circle-gradient {
    display: inline; /* 블록 요소가 아닌 인라인 요소처럼 동작하게 설정 */
    background: linear-gradient(
      to right, 
      #CCCCCC 0%, 
      #525252 100%
    );
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    white-space: nowrap; /* 줄바꿈 없이 한 줄에 텍스트 표시 */
  }

  .buttom-buttom-color{
    color: #b4acac
  }