:root {
    --variable-collection-white: #ffffff;
    --bold-14-font-family: 'Arial', sans-serif;
    --bold-14-font-size: 14px;
    --bold-14-font-style: normal;
    --bold-14-font-weight: bold;
    --bold-14-letter-spacing: 1px;
    --bold-14-line-height: 18px;
  }
  
  .navbar-fixed {
    color: var(--variable-collection-white);
    font-family: var(--bold-14-font-family);
    font-size: var(--bold-14-font-size);
    font-style: var(--bold-14-font-style);
    font-weight: var(--bold-14-font-weight);
    letter-spacing: var(--bold-14-letter-spacing);
    line-height: var(--bold-14-line-height);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 이 부분은 전체 너비를 확장하기 위해 추가됨 */
    z-index: 1000; /* 다른 요소들 위에 보이도록 z-index 설정 */
  }
  